<a class="add-new-item" href="/department/<%= @department.id %>/inventory/new"><button type="button">Add a new item</button></a>
<p>
<h2><%= @department.name.titlecase %></h2>
    <table>
        <thead>
            <tr>
                <th colspan="1">Name</th>
                <th colspan="1">Quantity</th>
                <th colspan="1">Details</th>
            </tr>
        </thead>
        <tbody>
            <% @department.items.all.each do |item| %>
                <tr>
                    <td><a href="/department/inventory/item/<%= item.id %>"><%= item.name.titlecase %></a></td>
                    <td><%= item.quantity %></td>
                    <td><%= item.details.capitalize %></td>
                </tr>
            <% end %>
        </tbody>
    </table>