<div id="overlay" class="overlay">
    <div class="center">
        <p>Are you sure you want to remove <%= @item.name %> from inventory?
        <form class="inline" action="/department/inventory/item/<%= @item.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            Click   <input class="delete inline" type="submit" value="Delete">
        </form> to permanently delete <%= @item.name %>.
        <p>
        <p>Click anywhere else to cancel.</p> 
    </div>
</div>

<h2>Update <%= @department.name.titlecase %>: <%= @item.name.titlecase %></h2>
<form action="/department/inventory/item/<%= @item.id %>/edit" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="name">Item Name:</label>
    <input id="name" type="text" name="name" value="<%= @item.name %>">
    <label for="quantity">Item quantity</label>
    <input id="quantity" type="text" name="quantity" value="<%= @item.quantity %>">
    <label for="details">Item Details</label>
    <input id="details" type="text" name="details" value="<%= @item.details %>">
    <input type="submit" value="Update Item">
</form>

    <input class="delete" id="delete" type="submit" value="Delete Item">