<a class="add-new-item" href="/items/new"><button type="button">Add a new item</button></a>
<p>
    <table>
        <thead>
            <tr>
                <th colspan="1">Name</th>
                <th colspan="1">Quantity</th>
                <th colspan="1">Details</th>
            </tr>
        </thead>
        <tbody>
            <% Item.all.each do |item| %>
                <tr>
                    <td><a href="/inventory/item/<%= item.id %>"><%= item.name.titlecase %></a></td>
                    <td><%= item.quantity %></td>
                    <td><%= item.details.capitalize %></td>
                    <td><%= Department.find(item.department_id).name.capitalize %></td>
                </tr>
            <% end %>
        </tbody>
    </table>